/* nav related styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.nav-title-text-color {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav>ul>li {
    list-style: none;
    margin-right: 50px;
}

nav>ul>li>a {
    text-decoration: none;
    color: #181818;
}

.btn-primary {
    background: #FD6E0A;
    border-radius: 5px;
    border: none;
    padding: 18px 35px;
    color: #FFFFFF;
    font-weight: 600;
}

/* header related styles */
.header {
    background-color: #FFF8F3;
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner img {
    width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}


.banner-title {
    font-size: 85px;
    font-weight: 700px;
    margin-top: 5px;
}

.banner-content {
    font-size: 20px;
    text-align: justify;
}

/* main section styles */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-description {
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.info-title {
    font-style: normal;
    font-family: Open Sans;
    font-weight: 400;
}

#what-i-do-description {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    text-align: justify;
    font-family: Open Sans;
}

.skills {
    padding: 20px;
    background-color: #ffffff;
    margin-right: 50px;
    border-radius: 5px;
    box-shadow: -3px 0px 40px #cecdcd;
}

.skills-description {
    color: #757575;
}